@charset "EUC-KR";
	body{background-color:ivory; font-family:THE외계인설명서,DX영화자막,"Typo_Dabanggu B"; margin:10px 40px 10px 40px; padding 0; height:100%;}
	header{font-size:120px;text-align:center;color:ivory;width:100%;height:15%;background-color:rgb(153, 191, 223);}
	#bar{ width:100%; height:5%; float:left; margin-bottom:10px;background-color:grey;}
	#bar ul{margin:0; padding:0;}
		#bar ul li{display: inline-block; list-style-type:none; padding:0px 15px;}
		#bar ul li a{color:ivory; text-decoration : none;}
		#bar ul li a:hover{color:white;}
	#aside ul{margin:0; padding:0;}
		#aside ul li{display: inline-block; width:100%; color:black;list-style-type:none; margin:5px;}
		#aside ul li a{color:black; text-decoration : none;}
		#aside ul li a:hover{color:olivedrab;}
	section{text-align:center; width:85%; height:70%; float:left; margin-bottom:30px;padding-bottom:30px;background-color:#EDBDBB}
	aside{width:15%; height:70%; float:left; }
	footer{width:100%; height:10%; clear:both;}
	#postButton{background-color:grey; color:ivory; border-style:none; font-size:20px; border-radius:10px;}
	#bar button{font-family:THE외계인설명서,DX영화자막,"Typo_Dabanggu B"; background-color:grey; color:ivory; border-style:none; border-radius:10px;}
	button{font-family:THE외계인설명서,DX영화자막,"Typo_Dabanggu B"; background-color:grey; font-size:20px;color:aliceblue; border-style:none; border-radius:10px;}
	a{color:aliceblue;text-decoration:none;}
	aside a{color:black;text-decoration:none;}
	#mform{display: inline-block; width:80%;padding:5px; background-color:aliceblue; margin-top:30px; border-radius:5px; text-align:left;}
	.post{display:inline-block; padding:20px; width:60%; border-radius:10px; margin-top:0; margin-bottom:10px; text-align:left; background-color: aliceblue;}
	#span2{display:inline-block; width:50%; float:right; text-align:right;}
	#span1{display:inline-block; width:50%; float:left; text-align:left;}
	#head{display:inline-block; padding:20px; width:60%; border-radius:10px; margin-top:10px; margin-bottom:0; text-align:left; height:10px;background-color: rgb(153, 191, 223);}
	
	#head a:hover, #head a:active{color:olivedrab; over-flow:auto;}
	.post, .reply, form[name=replyform]{ padding:0; margin:0 10px; height:0; overflow:hidden; transition:height ease-in;}
	#output :target .post{overflow:auto; height:100%; padding:20px;}
	#output :target .reply{overflow:auto; height:100%;}
	#output :target form[name=replyform]{overflow:auto; height:100%;}

	input[name=msg], input[name=msgtitle]{ width:80%;}	
	.reply{display:inline-block;background-color:grey; color:ivory; text-align:left;width:60%;}
	
	form[name=searchform]{display:inline-block; float:right;}
	#bar ul{display:inline-block;}
	